{% extends "default.twig" %}
{% set title = post.title %}
{% set description = post.summary %}
{% set image = post.cover_url %}
{% block content %}

    <div class="cover-page-container" style='background-image: url("{{ post.cover_url }}")'>
        <div class="cover-page-content">
            <h1 class="cover-page-title">{{ post.title }}</h1>
        </div>
    </div>

    <div class="post-info-container">
        <ul class="post-info">
            <li><i class="fas fa-user"></i> Ecrit par {{ post.user.username }}</li>
            <li><i class="fas fa-calendar"></i> Publié : {{ timeago(post.created_at) }} </li>
            <li><i class="fas fa-clock"></i> Dernière mise à jour : {{ timeago(post.updated_at) }} </li>
        </ul>
    </div>

    <div class="page-p markdown">
        <div class="markdown">
            <div class="markdown-body">
                <p>{{ post.summary }}</p>
                <br>
                {{ post.content|markdown }}
            </div>
        </div>
    </div>
{% endblock %}