{% if description is not defined %}
    {% set description = "Les scouts en route, c'est un groupe  de 18 pionniers/caravelles, venant de Normandie pour produire un spectacle vivant et solidaire, dans toute la France" %}
{% endif %}
{% if og_title is not defined %}
    {% set og_title = "Scouts en route | " ~ title %}
{% endif %}
{% if image is not defined %}
    {% set image = "https://files.lefuturiste.fr/direct/D4CBAD5C3EEEDA063ECF.jpg" %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:title"              content="{{ og_title }}" />
    <meta property="og:description"        content="{{ description }}" />
    <meta property="og:image"              content="{{ image }}" />
    <meta name="robots" content="index,follow" />

    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="Scouts en route, Scouts et guide de France, Imaginarium Dream">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% if block("meta") is defined %}
        {{ block('meta') }}
    {% endif %}

    <title>Scouts en route | {{ title }} </title>

    <link rel="stylesheet" href="/dist/css/app.css">
    {% if block("style") is defined %}
        {{ block('style') }}
    {% endif %}
</head>
<body>

<!-- HEADER -->
{{ include('macros/header.twig') }}
<!-- END OF HEADER -->

{% if block("cover") is defined %}
    {{ block('cover') }}
{% endif %}
<!-- CONTENT -->
<div class="content">
    <div class="container mx-auto">
        {{ block('content') }}
    </div>
</div>
<!-- fin CONTENT -->

<!-- FOOTER -->
{{ include('macros/footer.twig') }}
<!-- END OF FOOTER -->

<div class="nav-mobile" id="nav-mobile">
    <div class="nav-mobile-container">
        <div class="nav-mobile-close-container" id="nav-mobile-close-button">
            <button class="nav-mobile-close-button">
                <i class="fas fa-times-circle"></i> Fermer
            </button>
        </div>
        <div class="nav-mobile-content">
            <ul class="nav-mobile-nav">
                <li><a href="{{ path_for('home') }}">Accueil</a></li>
                <li><a href="{{ path_for('blog.posts') }}">Actualités</a></li>
                <li><a href="{{ path_for('tour') }}">La Tournée</a></li>
                <li><a href="{{ path_for('cabaret') }}">Soirée cabaret</a></li>
                <li><a href="{{ path_for('about') }}">A propos</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="/dist/js/app.min.js"></script>
{% if block("scripts") is defined %}
    {{ block('scripts') }}
{% endif %}
<!-- Fin Js -->

<script>
    $('#nav-mobile-button').click(function () {
        $('#nav-mobile').fadeIn()
        $('body').css('overflow-y', 'hidden')
    })

    $('#nav-mobile-close-button').click(function () {
        $('#nav-mobile').fadeOut()
        $('body').css('overflow-y', 'auto')
    })
</script>

</body>
</html>
